@{
    Layout = "_Layout";
}

@using LibraryCatalogue.Models;
@model LibraryCatalogue.Models.Book;


<h5>Details of Book</h5>


   <h6> @Model.Name;</h6>
    <br />
    <p>@Model.Description</p>
    <br />
    <br />
    <p>The book was written by: <strong>@Model.Author.Name</strong></p>

<p>@Html.ActionLink("Back to List of Books", "Index")<p>
<p>@Html.ActionLink("See list of Authors", "Index", "Authors")<p>