@{
    Layout = "_Layout";
    ViewData["Title"] = "Editting A Book's Details";
}

@model LibraryCatalogue.Models.Book;


<h6>What would you like to edit the Book's name to? </h6>
<br />
<br />

<div class="">
    <div class="text-center">
        <h5>Editing "@Model.Name"</h5>
        
        @using (Html.BeginForm("Edit", "Books", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BookId)
            <div class="form-group mt-4 text-center">
                @Html.LabelFor(model => model.Name, new { @class = "form-label h6" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control text-center" })
            </div>
            <div class="form-group mt-3 text-center">
                @Html.Label("Author", null, new { @class = "form-label h6" })
                @Html.DropDownList("AuthorId", ViewBag.AuthorId as SelectList, "Select an Author", new { @class = "form-control text-center" })
            </div>
            <div class="form-group mt-4 text-center">
                @Html.LabelFor(model => model.Description, new { @class = "form-label h6" })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control text-center" })
            </div>
            <br />
            <input type="submit" class="btn btn-dark" value="Save">
        }
        
    </div>
</div>
