@{
    ViewData["Title"] = "Book";
    Layout = "_Layout";
}

@using LibraryCatalogue.Models;

@model LibraryCatalogue.Models.Author;

@*
<div class="details-div">
    <div class="container pt-5">
        @if(User.IsInRole("Librarian"))
        {
            <p class="text-end">
                    <button data-bs-target = "#Author_Details_Delete_@Model.AuthorId" data-bs-toggle = "modal" class="btn btn-danger ml-2">Delete</button>
            </p>
        }
        <h3>@Model.Name</h3>
        <h4>Books</h4>
        @if(Model.AuthorBooks.Count != 0)
        {
            <div class="table-responsive mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                @if (Model.AuthorBooks.Count != 0)
                {
                    <tbody>
                        @foreach (var authorBook in Model.AuthorBooks)
                        {
                            <tr>
                                <td>@authorBook.BookId</td>
                                <td>@Html.ActionLink(authorBook.Book.Name , "Details" , "Books" , new {id = authorBook.BookId} , new {@class = "nav-link text-primary"})</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        }
    </div>
</div>
*@

<div class="details-div">
    <div class="container pt-5">
                <button data-bs-target="#Author_Details_Delete_@Model.AuthorId" data-bs-toggle="modal" class="btn btn-danger ml-2">Delete</button>
        @*
        @if(User.IsInRole("Librarian"))
        {
            <p class="text-end">
                <button data-bs-target="#Author_Details_Delete_@Model.AuthorId" data-bs-toggle="modal" class="btn btn-danger ml-2">Delete</button>
            </p>
        }
        *@
        <h4>Books by: @Model.Name</h4>

        @if(Model.AuthorBooks != null && Model.AuthorBooks.Count > 0)
        {
            <div class="table-responsive mt-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var authorBook in Model.AuthorBooks)
                        {
                            <tr>
                                <td>@authorBook.BookId</td>
                                <td>@Html.ActionLink(authorBook.Book.Name, "Details", "Books", new { id = authorBook.BookId }, new { @class = "nav-link text-primary" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No books available for this author.</p>
             <p>@Html.ActionLink("Create a New Book", "Create", "Books", new { authorId = Model.AuthorId }, new { @class = "btn btn-primary" })</p>
             @* EXPLANATION:
                @Html.ActionLink: This helper generates an HTML link (<a> tag) that points to the Create action in the Books controller. It passes the current AuthorId as a parameter so that the new book can be associated with this author.

                new { authorId = Model.AuthorId }: This passes the AuthorId as a query string parameter to the Create action. You can use this in the Create action to pre-fill or associate the new book with the correct author.
             *@
        }
    </div>
</div>
<br />
 <div class="text-center links-grid2 ">
            <p>@Html.ActionLink("Click to see Author's list", "Index", "Authors")</p>
            <p>@Html.ActionLink("Click to see Book's list", "Index", "Books")</p>
        </div>



@************************************* Delete Modal **************************@

    <div class="modal fade" id="Author_Details_Delete_@Model.AuthorId" tabindex="-1"
                                aria-labelledby="AuthorLabel_Details_Delete_@Model.AuthorId" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="AuthorLabel_Details_Delete_@Model.AuthorId">Delete @Model.Name</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure that you want to Delete the author: <b>@Model.Name</b> </p>
                                                </div>`
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                                    @using (Html.BeginForm("Delete", "Authors"))
                                                    {
                                                        @Html.Hidden("authorId" , Model.AuthorId);
                                                        <input type="submit" class="btn btn-outline-dark" value="Delete">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>