@{
    ViewData["Title"] = "Book";
    Layout = "_Layout";
}

@using LibraryCatalogue.Models;

@model LibraryCatalogue.Models.Author;

<div class="details-div">
    <div class="container pt-5">
        @if(User.IsInRole("Librarian"))
        {
            <p class="text-end">
                    <button data-bs-target = "#Author_Details_Delete_@Model.AuthorId" data-bs-toggle = "modal" class="btn btn-danger ml-2">Delete</button>
            </p>
        }
        <h3>@Model.Name</h3>
        <h4>Books</h4>
        @if(Model.AuthorBooks.Count != 0)
        {
            <div class="table-responsive mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                @if (Model.AuthorBooks.Count != 0)
                {
                    <tbody>
                        @foreach (var authorBook in Model.AuthorBooks)
                        {
                            <tr>
                                <td>@authorBook.BookId</td>
                                <td>@Html.ActionLink(authorBook.Book.Name , "Details" , "Books" , new {id = authorBook.BookId} , new {@class = "nav-link text-primary"})</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        }
    </div>
</div>


@************************************* Delete Modal **************************@

    <div class="modal fade" id="Author_Details_Delete_@Model.AuthorId" tabindex="-1"
                                aria-labelledby="AuthorLabel_Details_Delete_@Model.AuthorId" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="AuthorLabel_Details_Delete_@Model.AuthorId">Delete @Model.Name</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure that you want to Delete <b>@Model.Name</b> </p>
                                                </div>`
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                                    @using (Html.BeginForm("Delete", "Authors"))
                                                    {
                                                        @Html.Hidden("authorId" , Model.AuthorId);
                                                        <input type="submit" class="btn btn-outline-dark" value="Delete">
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>