@{
    ViewData["Title"] = "Checkouts";
    Layout = "_Layout";
}

@model IEnumerable<LibraryCatalogue.Models.Checkout>;

@using LibraryCatalogue.Models;

<div id="all-users-checkout">
    <div class="container text-center">
        <p class="text-danger">@ViewBag.ErrorMessage</p>

                <h1 class="mt-3">All Users Checkouts</h1>
                <div class="search-div">
                    @using (Html.BeginForm("Search", "Checkouts", FormMethod.Post))
                    {
                        <input type="text" name="userName">
                        <input type="submit" value="Search" class="btn btn-dark">
                    }
                </div>
                <div class="table-responsive mt-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Book</th>
                                <th scope="col">Date col</th>
                                <th scope="col">Due</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        @if (Model.Any())
                        {
                            <tbody>
                                @foreach (var checkout in Model)
                                {
                                    <tr>
                                        <td>@checkout.User.FullName</td>
                                        <td>@checkout.Book.Name</td>
                                        <td>@checkout.Date</td>
                                            @if (checkout.IsDue())
                                            {
                                            <td class="text-danger">Due</td>
                                            }
                                            else
                                            {
                                            <td>@checkout.Date.AddDays(7).ToString()</td>
                                            }
                                        <td>
                                                @if (checkout.Returned == false)
                                                {
                                                    @using (Html.BeginForm("ReturnBook", "Checkouts", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("bookId" , checkout.BookId)
                                                        @Html.Hidden("checkoutId" , checkout.CheckoutId)
                                                    <input type="submit" class="btn btn-success" value="Return">
                                                    }
                                                }
                                                else
                                                {
                                                <span class="text-success">Returned</span>
                                                }
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("Delete" , "Checkouts" , FormMethod.Post))
                                            {
                                                @Html.Hidden("checkoutId" , checkout.CheckoutId)
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
    </div>
</div>