@{
    Layout = "_Layout";
}

@using LibraryCatalogue.ViewModels;

@model RegisterViewModel

<h2>Register a new user </h2>
<hr />

@if(!ViewData.ModelState. IsValid)
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form: ")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email)
    <br />
    <br />

    @Html.LabelFor(user => user.Password)
    @Html.TextBoxFor(user => user.Password)
    <br />
    <br />

    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.TextBoxFor(user => user.ConfirmPassword)
    <br />
    <br />

    <input type="submit" value="Regsiter" class="btn btn-primary"/>
}
    <br />
    <p>Already have an account? Login Now:</p>
    <p>@Html.ActionLink("Login Now", "Login", "Account")</p>

<p>@Html.ActionLink("Back to accounts page", "Index")</p>