@{
    Layout = "_Layout";
}

@using LibraryCatalogue.ViewModels;

@model RegisterViewModel

<h2>Register a new user </h2>
<hr />

@if(!ViewData.ModelState. IsValid)
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form: ")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName , new {@class = "form-label"})
        @Html.TextBoxFor(model => model.FirstName)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.LastName , new {@class = "form-label"})
        @Html.TextBoxFor(model => model.LastName)
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(user => user.Email)
        @Html.TextBoxFor(user => user.Email)
    </div>
    <br />
    
    <br />

    <div class="form-group">
        @Html.LabelFor(user => user.Password)
        @Html.TextBoxFor(user => user.Password)
    </div>
    
    <br />

    <div class="form-group">
        @Html.LabelFor(user => user.ConfirmPassword)
        @Html.TextBoxFor(user => user.ConfirmPassword)
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Account Type", null, new {@class="form-control h6"})
        @Html.DropDownList("AccountType", null, null, new {@class = "form-control"})
    </div>
    <br />

    <div class="text-center">
        <input type="submit" value="Register" class="btn btn-primary"/>
    </div>
    <br />
}
    <br />
    <p>Already have an account? Login Now:</p>
    <p>@Html.ActionLink("Login Now", "Login", "Account")</p>

<p>@Html.ActionLink("Back to accounts page", "Index")</p>